<!DOCTYPE html>

{% load static %}
<html lang="en">

<head>
<title>Hema Care</title>
<meta charset="utf-8">
<meta name="description" content="Blood bank management system">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel='stylesheet' href="{% static 'styles/layout.css'%}" type="text/css" media='all'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left"> 
      <!-- ################################################################################################ -->
      <ul class="nospace">
      
      </ul>
      <!-- ################################################################################################ -->
    </div>
    <div class="fl_right"> 
      <!-- ################################################################################################ -->
      <ul class="nospace">
      
        
        <li><a href="{% url 'logout' %}" title="Logout"> <span style="color:red;">Log out <i class="far fa-life-ring"></i></a></li>
       
        
       
      </ul>
      <!-- ################################################################################################ -->
    </div>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="fl_left"> 
      <!-- ################################################################################################ -->
   <h1><a href=" {% url 'home'%}" ><img src="{% static 'images/brand.png' %}"></a></h1>
      <!-- ################################################################################################ -->
    </div>
    <nav id="mainav" class="fl_right"> 
      <!-- ################################################################################################ -->
      <ul class="clear">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li class="active"><a href="{% url 'seek' %}">SEEK BLOOD</a></li>
			    <li class="active"><a href="{% url 'donor' %}">DONATE</a></li>
			    <li class="active"><a href="{% url 'eligibility' %}">ELIGIBILITY CRITERIA</a></li>
				<li class="active"><a href=" {% url 'contact'%}">CONTACT US</a></li>
				<li class="active"><a href=" {% url 'about_us'%}"> ABOUT US</a></li>
      </ul>
      <!-- ################################################################################################ -->
    </nav>
  </header>
</div>

<div class='row justify-content-center'>
 <div class='col-5'>
 <div class='card'>
 <div class='card-body'>

<form  method="POST" id="donor">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  {% csrf_token %}
  <div class="container">
    <h1><center>Donor register</center></h1>
    <p>Hello {{user}}. Please fill your details to donate blood.</p>
    <hr>
    <br>

   <label for="email"><b>Full Name</b></label>
    <input type="text" placeholder="Enter your name" class='form-control' name="person_name" required><br><br>

    <label for="age"><b>Age</b></label>
    <input type="text" placeholder="Enter Age" class='form-control'name="age" required><br><br>

      <label for="Gender"><b>Gender</b></label>
 <input type="radio" name="sex" value="Male"> Male
 <input type="radio" name="sex" value="Female"> Female

 <br><br>
 <label for="district"><b>State</label>
 <input type="text" placeholder="Enter your state" class='form-control'name="state" required><br><br>

 <label for="address"><b>Address</label>
   <textarea type = "text" rows = "6" cols = "140" class='form-control' name = "address" style="background-color:#f1f1f1;">   </textarea><br><br>

<label for="Contact Number"><b>Contact Number</label>
<input type="number" placeholder="Enter your contact number" class='form-control' name="contact_number" maxlength="10" required>
<br><br>

<label for="email"><b>Email</label>
<input type="email" placeholder="Enter your email" class='form-control' name="email" maxlength="100" required>
<br><br>

<label for="illness"><b>Blood Group</label>
<select name="blood_group" form="donor" class='form-control'>
  <option value="O Positive">O+</option>
  <option value="O Negative">O-</option>
  <option value="A Positive">A+</option>
  <option value="A Negative">A-</option>
  <option value="B Positive">B+</option>
  <option value="B Negative">B-</option>
  <option value="AB Positive">AB+</option>
  <option value="AB Negative">AB-</option>
  <br>
</select><br><br>

<label for="date"><b>Last donation Date(leave blank if you've never donated before)</>
<input type="date" name="last_donated_date" class='form-control'style="font-family: Arial, Helvetica, sans-serif; background-color:#f1f1f1;"
width="100%" height="50px"><br><br>


<label for="illness"><b>Major Illness, if any</label>
<input type="text" placeholder="Enter major illness,  if any" class='form-control' name="major_illness"  required>



    <hr>
    <p>By creating a donor account you agree to our <a href="{% url 't_c' %}"> <span style="color:red;">Terms & Conditions</a></p>

    <button type="submit" class="btn">Register</button><br><br>
    <a href="{% url 'eligibility' %}"> <span style="color:red;">Eligibility Criteria for blood donation </a><br>
  </div>


</form>
</div>
</div>
</div>
</div>
	<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="heading">Reach Out to us</h6>
      <ul class="nospace linklist contact btmspace-30">
        <li><i class="fas fa-map-marker-alt"></i>
          <address>
            2,Babatope Ajakaye Cresent, Jahi , Abuja
          </address>
        </li>
        <li><i class="fas fa-phone"></i> +234806766766666</li>
        <li><i class="far fa-envelope"></i> info@savannahinnovations.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fab fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Latest News</h6>
      <ul class="nospace linklist">
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#"><span style="color:red;">NBTS blood donation at Kubwa.</a></p>
            <time class="block font-xs" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
          </article>
        </li>
        <li>
          <article>
            <p class="nospace btmspace-10"><a href="#"><span style="color:red;">Advantages of blood donation</a></p>
            <time class="block font-xs" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
          </article>
        </li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Our Partners</h6>
      <ul class="nospace linklist">
        <li><a href="#"><span style="color:red;">National Blood Transfusion Service</a></li>
        <li><a href="#"><span style="color:red;">GU-CGHPI</a></li>
        
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="heading">Gallery</h6>
      <ul class="nospace clear latestimg">
        <li><a class="imgover" href="#"><img src="{% static 'images/100x100.jpg' %}"alt=""></a></li>
        <li><a class="imgover" href="#"><img src="{% static 'images/100x100.jpg' %}" alt=""></a></li>
        <li><a class="imgover" href="#"><img  src="{% static 'images/100x100.jpg' %}" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="{% static 'images/100x100.jpg' %}" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="{% static 'images/100x100.jpg' %}" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="{% static 'images/100x100.jpg' %}" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="{% static 'images/100x100.jpg' %}" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="{% static 'images/100x100.jpg' %}" alt=""></a></li>
        <li><a class="imgover" href="#"><img src="{% static 'images/100x100.jpg' %}" alt=""></a></li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">&copy; 2021 | <a href="https://savannahinnovations.com/">Savannah Health System Innovation </a></p>
    <p class="fl_right"> Designed by <a href="https://oluwatosin-dev.netlify.app/">Oluwatosin </a> </p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'scripts/jquery.mobilemenu.js' %}"></script>

</body>
</html>